/* Espaçador Grande */
.long-spacing {
    padding: 10vh 0px;
    background-color: #FFFFE5;
}

/* Espaçador Principal */
.main-spacing{
    padding: 80px 0px;
    background-color: #FFFFE5;
}

/* Espaçador Médio */
.medium-spacing {
    padding: 50px 0px;
    background-color: #FFFFE5;
}

/* Espaçador Pequeno */
.small-spacing {
    padding: 30px 0px;
    background-color: #FFFFE5;
}

/* Espaçador Pequeno para Card */
.small-card-spacing {
    padding: 20px 0px;
    background-color: #ffffff;
}

/* Cards */
.members {
    padding: 30px 0;
}
.members .member {
    border: 0;
    background-color: #f2f2f2;
}
.card-body {
    padding: 22px 22px;
    min-width: 360px;
    border-radius: 150px;
}

/* Background Menu */
.bg-menu-cg {
    background-color: #47F080;
    color: white;
}

/* Background Principal */
.bg-cg {
    background-color: #FFFFE5;
}

/* Background Banner */
.bg-banner {
    padding: 15vh 0px;
}

/*Texto*/
.title-cg {
    color: #819881;
    font-weight: bolder;
}

/* Padrão de Titulo de cor Branca */
.title-cg-w {
    color: #fff;
    font-size: 3.5rem;
}

/* Padrão de Links */
.link-cg {
    color: #47F080;
}

/* Padrão de Texto */
.text-cg {
    color: #819881;
    font-size: 1.6rem;
}

/* Padrão de Texto com cor Branca */
.text-cg-w {
    color: #fff;
    font-size: 1.6rem;
}

/* Padrão de Titulo de Card */
.title-card-cg {
    color: #819881;
    font-size: 1.3rem;
}

/* Padrão de Texto de Card */
.text-card-cg {
    color: #819881;
    font-size: 1.2rem;
}

/* Padrão de Botão Principal */
.button-main {
    outline: 0.1pc solid #475447;
    border-radius: 10px;
}

/* Padrão de cor Principal */
.color-1 {
    color: #76FF76;
}

/* Background do Banner da Pagina SBC */
.bg-sbc {
    background: url('https://i.ibb.co/Y761WCP/secretaria-sbc.jpg') no-repeat;
    background-size: 100%;
}

/* images */
.mini-img {
    width: 13%;
    float:left; 
    margin:1%;
    border-radius: 10px;
}

/* Leaflet */
/* Tamanho do Mapa */
#mapid {
    width: 100%;
    height: 60vh;
}

/* Estilo do Wrapper do PopUp  */
.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

/* Estilo do Conteúdo do PopUp */
.leaflet-popup-content {
    color: #819881;
    margin: .8rem 1.2rem;
    font: 700 0.9rem/1 'Roboto', sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo do Botão dentro do PopUp */
.leaflet-popup-content a {
    width: 4rem;
    height: 4rem;
    background: #47F080;
    box-shadow: 17.2868px 27.65px 41.48px rgba(23, 142, 166, 0.16);
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color .2s;
}

/* Estilo ao passar o mouse no Botão dentro do PopUp */
.leaflet-popup-content a:hover {
    background: #90FFB5;
    text-decoration: none;
}

/* Desabilitando a Seta do PopUp  */
.leaflet-popup-tip {
    display: none;
}

/* Botão do Whatsapp */
.float{
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}