<nav class="navbar navbar-expand-lg fixed-top bg-menu-cg shadow-sm p-3 mb-5 rounded">
  <a class="navbar-brand font-weight-bold text-white ml-5" href="index.php">
      CareGuide
  </a>
    <button class="navbar-toggler text-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Alterna navegação">
      <span class="fas fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo03">
      <ul class="navbar-nav col-5 justify-content-end">
        <li class="nav-item">
          <a class="nav-link h6 font-weight-bold text-white" href="reference.php"><span class="fas fa-project-diagram mr-2 text-white"></span>Referencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link h6 font-weight-bold text-white" href="locator.php"><span class="fas fa-map-marker mr-2 text-white"></span>Localizador</a>
        </li>
        <li class="nav-item">
            <a class="nav-link h6 font-weight-bold text-white" href="login.php"><span class="fas fa-user mr-2 text-white"></span>Entrar</a>
        </li>
      </ul>
    </div>
  </nav>